/*mobile styles*/
.box{
	font-size: 20px;
	margin:5px;	
	border-radius:5px;
	padding: .5em;
}

.box{
	font-size: 20px;
	color: #000;
}



/*tablet styles*/
@media all and (min-width: 568px){
	
	.wrapper{
		display:flex;
		flex-direction:column;
		}


}

/*desktop styles
@media all and (min-width: 960px){


	

}
*/